.squareTest{
    width: 600px;
    height: 300px;
    border: 1px solid red;
}

#test,
#note-c1,
#note-d,
#note-e,
#note-f,
#note-g,
#note-a,
#note-b,
#note-c2{
    fill: rgb(220, 220, 220);
}
#note-c-sharp,
#note-d-sharp,
#note-f-sharp,
#note-g-sharp,
#note-a-sharp{
    fill: rgb(20, 20, 20);
}
#test:hover,
#note-c1:hover,
#note-d:hover,
#note-e:hover,
#note-f:hover,
#note-g:hover,
#note-a:hover,
#note-b:hover,
#note-c2:hover,
#note-c-sharp:hover,
#note-d-sharp:hover,
#note-f-sharp:hover,
#note-g-sharp:hover,
#note-a-sharp:hover{
    fill: red;
    cursor: pointer;
}