*{
    margin: 0px;
    padding: 0px;
     
}

body{
  background-color:#f0f0f0 ;
}

/* landing Container */
.landingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100px;
    
    min-height: 100vh;
   
    padding: 50px;
    background-image: linear-gradient(white 60px, transparent 60px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px);
    background-size: 100% 90px, 100% 22px, 100% 22px, 100% 22px, 100% 22px, 100% 22px, 100% 22px;
    background-position:  0px 0px, 0px 10px, 0px 32px, 0px 54px, 0px 76px;
}


/* Button Section */
.navigationButtonContainer{
    background-color: rgb(220, 220, 220);
    padding: 5px;
    border-radius: 5px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    
}

.navigationButton{
    width: 100px;
    height: 50px;
}

.rules-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-inline-size: min(100vw, 20rem);
    min-block-size: 30dvh;
    padding: 2em;
    backdrop-filter: blur(8px);
    border: 1px solid #505050;
}

.rules-modal::backdrop{background-color:rgba(0,0,0,0.5);}

.rules-title{
    text-align: center;
}

.rules-container{
    padding-block: 2em;
}

.button-container{
    text-align: center;
}
.modal-button{
    width: 100px;
    height: 50px;
}
