*{
    margin: 0px;
    padding: 0px;
     
}

body{
  background-color:#f0f0f0 ;
}

/* landing Container */
.landingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100px;
    
    min-height: 100vh;
   
    padding: 50px;
    background-image: linear-gradient(white 60px, transparent 60px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px),
                      linear-gradient(black 2px, transparent 2px);
    background-size: 100% 90px, 100% 22px, 100% 22px, 100% 22px, 100% 22px, 100% 22px, 100% 22px;
    background-position:  0px 0px, 0px 10px, 0px 32px, 0px 54px, 0px 76px;
}


/* Button Section */
.navigationButtonContainer{
    background-color: rgb(220, 220, 220);
    padding: 5px;
    border-radius: 5px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    
}

.navigationButton{
    width: 150px;
    height: 80px;
    padding: 15px 32px;
    background-color:blue;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    justify-content: center;  
    align-items: center;  
    
}

.navigationButton:hover{
    background-color: red;
    color: white;
}

/* Heading Section */
.Heading{
    position: absolute;
    top: 80px;
    font-size: 70px;
    font-weight: 600;
    background-size: 250px;
    background-repeat: repeat;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

/* Music Notes Animation */
.muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0px solid #000;
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }
  
  .noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }
  
  /* Group caption Section */
  .caption{
    text-align: center;
    position: relative;
    top: -240px; 
    left: 10px;
    font-size: 30px;
  }
  
